// For create a variable we use $name :

// lets create a variable of color

$primarycolor: black;
// here I put colors into the variables
$SecondaryColor: green;
$pcolor: black;
$headingcolor: red;
$borderc: blue;